:root {
    --color-base: #f7fcff;
    --color-mantle: #ecf6fd;
    --color-crust: #dbe8f2;
    --color-dent: #fbfeff;
    --color-text: #486072;
    --color-text-selection: #d8ecff;
    --color-key: #7b9ec2;
    --color-weak: #97adbf;
    --color-divide: #c8d8e5;
    --color-outline: #b9d0e3;
    --color-accent: #8ed0ff;
    --color-accent-fg: #ffffff;
    --color-overlay: #eff8ff;
    --color-positive: #c4ecff;
    --color-positive-fg: #38586d;
    --color-danger: #f3a7ad;
    --color-danger-fg: #6b3a45;
    --color-warning: #f6ddb7;
    --color-warning-fg: #7d5c37;
}
