:root {
    --color-base: #fff9ea;
    --color-mantle: #fef4dd;
    --color-crust: #ebdcb8;
    --color-dent: #f5eedd;
    --color-text: #7a5a43;
    --color-text-selection: #f5d09f;
    --color-key: #ae7954;
    --color-weak: #cdb09c;
    --color-divide: #c1a177;
    --color-outline: #ffdb9a;
    --color-accent: #f59768;
    --color-accent-fg: #ffdb9a;
    --color-overlay: #ebdcb8;
    --color-positive: #a8cf88;
    --color-positive-fg: #4c634e;
    --color-danger: #e07a83;
    --color-danger-fg: #723033;
    --color-warning: #f9d48b;
    --color-warning-fg: #8b5a2d;
}
