/* - 滚动条 */
body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

body::-webkit-scrollbar-thumb {
    background: #e0b15e;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #e0b15e;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:active {
    background: #e0b15e;
    border-radius: 4px;
}
/* - 滚动条 End */

/* 文本选中 */
::selection {
    text-decoration: unset;
    text-decoration-color: unset;
    text-shadow: unset;
    background-color: var(--color-text-selection);
}

/* - 分割线 */
hr {
    border: 2px dashed var(--color-divide);
}

hr:before {
    color: var(--color-accent);
}
/* - 分割线 End */

/* - 标题 */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-key);
}

/* - 超链接 */
a {
    color: var(--color-accent);
    background: linear-gradient(to right, var(--color-text-selection), var(--color-text-selection)) no-repeat right bottom;
    background-size: 0 2px;
}

.right-area a:hover {
    color: var(--color-accent);
}
/* - 超链接 End */

/* 行内代码 */
code {
    font-family: inherit;
    padding: 1px 5px 1px 5px;
    border-radius: 6px;
    background-color: var(--color-outline);
}

/* 代码块 */
pre {
    font-family: inherit;
    padding: 10px 14px;
    border-radius: 6px;
    background-color: var(--color-outline);

    code {
        padding: unset;
        border-radius: unset;
        background-color: unset;

        font-family: inherit;
    }
}
