:root {
    --color-base: #1e1e2e;
    --color-mantle: #2e2e3e;
    --color-crust: #20202f;
    --color-dent: #2e2e3e;
    --color-text: #e3bfd3;
    --color-text-selection: #d08a9a;
    --color-key: #c48fad;
    --color-weak: #423e4a;
    --color-divide: #a67a8a;
    --color-outline: #503843;
    --color-accent: #ff95af;
    --color-accent-fg: #503843;
    --color-overlay: #504262;
    --color-positive: #8ccf7e;
    --color-positive-fg: #2f4726;
    --color-danger: #e8647c;
    --color-danger-fg: #4a1e2c;
    --color-warning: #f5c26b;
    --color-warning-fg: #4a341f;
}
