/* 页首 */
.page-head {
    background-color: #fff5e0;
    background-image: url(../../../assets/images/page-head/wallhaven-gpy5rq.png);
    background-size: cover;
    background-position: center 45%;
}
